:host::ng-deep.edit-popup,
:host::ng-deep.p-dialog {
  width: 25vw;
  height: 18vw;
}

.card1 {
  width: 26vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host::ng-deep.p-button-label:hover,
:host::ng-deep.p-button-label:enabled:focus {
  border-color: var(--mango-orange);
  color: white;
}

:host::ng-deep.p-button.p-button-rounded:hover {
  background-color: var(--light-sea-teal);
  border-color: var(--light-sea-teal);
  color: white;
  border-radius: 3px;
}

:host::ng-deep.p-button.p-button-rounded {
  background-color: var(--mango-orange);
  border-color: var(--mango-orange);
  border-radius: 3px;
}
