:host::ng-deep.p-button:hover {
  background-color: #ff8947;
  border-radius: 3px;
}

:host::ng-deep.p-button {
  background-color: #1faea8;
  color: white;
  border-color: #1faea8;
  width: 180px;
  border-radius: 3px;
}

:host::ng-deep.p-button.p-button-success:hover {
  background-color: #1faea8;
  border-color: #1faea8;
  color: white;
  border-radius: 3px;
}

:host::ng-deep.p-button.p-button-success {
  background-color: #ff8947;
  border-color: #ff8947;
  border-radius: 3px;
}

:host::ng-deep.p-button.p-button-rounded {
  background-color: #ff8947;
  width: 180px;
  border-radius: 3px;
  border-color: #ff8947;
}

:host::ng-deep.p-button.p-button-rounded:hover {
  background-color: #1faea8;
  color: white;
  border-radius: 3px;
  border-color: #1faea8;
}

:host::ng-deep.p-paginator .p-paginator-pages .p-paginator-page:hover {
  color: #373a3d;
}

:host::ng-deep.p-paginator .p-dropdown {
  border-color: #1faea8;
}

:host::ng-deep.p-dialog-draggable .p-dialog-header {
  background-color: white;
  color: #373a3d;
}

:host::ng-deep.p-dialog .p-dialog-content {
  background-color: white;
  color: #373a3d;
}

:host::ng-deep.p-dialog .p-dialog-footer {
  background-color: white;
  color: #373a3d;
}

:host::ng-deep.p-inputgroup .p-inputtext,
.p-fluid .p-inputgroup .p-inputtext {
  background-color: white;
  color: #373a3d;
  border: 1px solid #69707a;
}

:host::ng-deep.p-inputtext::placeholder {
  color: #373a3d;
  opacity: 0.4;
}

:host::ng-deep.p-inputtext:enabled:hover {
  border: 1px solid #69707a;
  box-shadow: none;
}

:host::ng-deep.p-inputtext:focus {
  border: 1px solid #69707a;
  box-shadow: none;
}
