<div class="card">
  <app-navbar></app-navbar>
  <p-table [value]="allergen" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines"
    [paginator]="true" [rows]="7" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="caption">
      Allergens
      <button pButton label="Add Allergen" class="p-button-rounded" icon="pi pi-external-link"
        (click)="showPopup()"></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center;">
        <th style="padding-bottom: 10px;">ID</th>
        <th style="padding-bottom: 10px;">Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-allergen>
      <tr style="text-align: center;">
        <td style="padding-top: 10px;">{{allergen.id}}</td>
        <td style="padding-top: 10px;">{{allergen.name}}</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- popup-->
  <p-dialog header="Add Allergen" [(visible)]="displayPopup" [modal]="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '22vw', height: '25vw'}" [baseZIndex]="10000"
    [closable]="true" closeIcon="pi pi-times">
    <form [formGroup]="addAllergenForm" novalidate #allergenform="ngForm">
      <div class="card">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <div class="p-inputgroup" style="margin-left: 5px;">
              <input type="text" pInputText placeholder="Allergen Name" formControlName="name"
                style="margin-top: 10px;">
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="add-ing-buttons" style="text-align: center; margin-top: 60px;">
        <button pButton label="Add Allergen" class="p-button-rounded" icon=" pi pi-plus"
          (click)="addAllergen()"></button>
      </div>
    </ng-template>
  </p-dialog>
</div>
