<div class="card">
  <app-navbar></app-navbar>
  <p-table [value]="allergens" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines"
    [paginator]="true" [rows]="7" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="caption">
      Allergens
      <button pButton label="Add Allergen" class="p-button-rounded" icon="pi pi-plus" (click)="showPopup()"></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-allergen>
      <tr>
        <td>{{allergen.id}}</td>
        <td>{{allergen.name}}</td>
        <td>
          <p-button icon="pi pi-pencil" styleClass="edit-btn" (click)="showEditPopup(allergen.name)">
          </p-button>
          <app-delete-confirmation-popup></app-delete-confirmation-popup>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Add Allergen" [(visible)]="displayPopup" [modal]="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" styleClass="custom-popup" [closable]="true"
    closeIcon="pi pi-times">
    <form [formGroup]="addAllergenForm" novalidate #allergenform="ngForm">
      <div class="card">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <div class="p-inputgroup">
              <input type="text" pInputText placeholder="Allergen Name" formControlName="name">
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div>
        <button pButton label="Cancel" (click)="displayPopup=false" class="p-button-rounded"></button>
        <button pButton label="Save" class="p-button-label" (click)="addAllergen()"></button>
      </div>
    </ng-template>
  </p-dialog>
</div>

<p-dialog header="Edit Allergen" [(visible)]="displayEditPopup" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [closable]="true" styleClass="custom-popup">
  <div class="p-inputgroup">
    <input type=" text" pInputText value={{currentEditName}}>
  </div>
  <ng-template pTemplate="footer">
    <div>
      <button pButton label="Cancel" (click)="displayEditPopup=false" class="p-button-rounded"></button>
      <button pButton label="Save" class="p-button-rounded"></button>
    </div>
  </ng-template>
</p-dialog>
