<div class="card">
  <app-navbar></app-navbar>
  <p-table [value]="allergens" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines"
    [paginator]="true" [rows]="7" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="caption">
      Alergeni
      <button pButton label="Adaugă alergen" class="p-button-rounded add-btn-mobile-version" icon="pi pi-plus"
        (click)="createNewAllergen()"></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">Nume<p-sortIcon field="name"></p-sortIcon></th>
        <th>Acțiuni</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-allergen>
      <tr>
        <td>{{allergen.id}}</td>
        <td>{{allergen.name}}</td>
        <td>
          <p-button icon="pi pi-pencil" styleClass="edit-btn" (click)="editSelectedAllergen(allergen)">
          </p-button>
          <p-button (click)="showDeleteModalDialog(allergen.id)" icon="pi pi-times" styleClass="delete-btn"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-add-edit-allergen-popup [displayAddEditPopup]="displayPopup" [allergen]="selectedAllergen"
    (saveButtonClicked)="addAllergen($event)" (editButtonClicked)="onEditSaveButtonClick($event)"
    (onCloseAddEditPopup)="closingAddEditPopup($event)"></app-add-edit-allergen-popup>

  <app-delete-confirmation-popup *ngIf="displayDeletePopup" [deleteModalPopup]="true"
    (deletePopupClosed)="onDeletePopupClosed($event)"></app-delete-confirmation-popup>