::ng-deep.p-datatable .p-datatable-thead > tr > th {
  background-color: white;
  color: #373a3c;
  border-width: 0 1px 1px 1px;
  border-color: #69707a;
}

::ng-deep.p-datatable .p-datatable-header {
  background-color: white;
  color: #373a3c;
  border-width: 0 1px 1px 1px;
  border-color: #69707a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
    .p-datatable-tbody
  )
  .p-datatable-tbody
  > tr
  > td {
  border-right: 1px #dbdbdb;
}

::ng-deep.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
    .p-datatable-tbody
  )
  .p-datatable-tbody
  > tr
  > td:last-child {
  border-right: 1px solid #69707a;
}

::ng-deep.p-datatable .p-datatable-tbody > tr > td {
  background-color: white;
  color: #373a3c;
}

::ng-deep.p-paginator-rpp-options {
  background-color: #1faea8;
  color: #373a3c;
}
::ng-deep.p-dropdown-panel {
  background-color: #1faea8;
  border-color: #1faea8;
  box-shadow: none;
}

::ng-deep.p-checkbox .p-checkbox-box {
  background-color: #1faea8;
  border-color: #1faea8;
}

::ng-deep.p-checkbox .p-checkbox-box.p-highlight {
  background-color: #ff8947;
  border-color: #ff8947;
}

::ng-deep.p-dropdown .p-dropdown-label {
  color: white;
}

::ng-deep.p-datatable.p-datatable-gridlines .p-paginator-bottom {
  background-color: white;
  border-width: 0 1px 1px 1px;
  border-color: #69707a;
}

::ng-deep.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last:hover {
  color: #69707a;
}

:host::ng-deep.p-paginator .p-paginator-pages .p-paginator-page:focus {
  border: 1px solid #1faea8;
  box-shadow: none;
}

:host::ng-deep.p-paginator .p-dropdown .p-dropdown-label :hover {
  box-shadow: none;
  border: 1px solid #1faea8;
}

:host::ng-deep.p-paginator .p-dropdown .p-dropdown-label:active:focus {
  border-color: #1faea8;
  box-shadow: none;
}

:host::ng-deep.p-paginator
  .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover {
  color: #373a3c;
}

:host::ng-deep.p-dropdown:not(.p-disabled).p-focus {
  border-color: #1faea8;
  box-shadow: none;
}

::ng-deep.pi-angle-double-right:before {
  color: #69707a;
}

::ng-deep.pi-angle-left:before {
  color: #69707a;
}

::ng-deep.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #1faea8;
  border-color: #1faea8;
}

::ng-deep.p-paginator .p-paginator-pages .p-paginator-page {
  color: #373a3c;
}

::ng-deep.p-paginator .p-paginator-current {
  background-color: #1faea8;
  border-color: #1faea8;
  color: white;
}

::ng-deep.pi-times:before {
  color: #373a3d;
}

::ng-deep.p-paginator .p-paginator-prev {
  box-shadow: none;
  color: #69707a;
}

::ng-deep.p-paginator .p-paginator-next {
  box-shadow: none;
  color: #69707a;
}

::ng-deep.p-paginator
  .p-paginator-next:not(.p-disabled):not(.p-highlight):hover {
  box-shadow: none;
  color: #69707a;
}

::ng-deep.p-paginator
  .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  box-shadow: none;
  color: #69707a;
}

::ng-deep.p-paginator
  .p-paginator-first:not(.p-disabled):not(.p-highlight):hover {
  box-shadow: none;
  color: #69707a;
}

::ng-deep.p-paginator
  .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover {
  box-shadow: none;
  color: #69707a;
}
