<app-navbar></app-navbar>
<div class="card">
  <p-table [value]="ingredients" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="caption">
      Ingrediente
      <button pButton label="Adaugă ingredient" class="p-button-rounded add-btn-mobile-version"
        (click)="newIngredient()" icon="pi pi-plus"></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">Nume<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="energy">Valoare energetică<p-sortIcon field="energy"></p-sortIcon></th>
        <th pSortableColumn="fats">Grăsimi<p-sortIcon field="fats"></p-sortIcon></th>
        <th pSortableColumn="carbohydrates">Carbohidrați<p-sortIcon field="carbohydrates"></p-sortIcon></th>
        <th pSortableColumn="fibers">Fibre <p-sortIcon field="fibers"></p-sortIcon></th>
        <th pSortableColumn="protein">Proteine<p-sortIcon field="protein"></p-sortIcon></th>
        <th pSortableColumn="sugar">Zaharuri<p-sortIcon field="sugar"></p-sortIcon></th>
        <th>Actions</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ingredient>
      <tr>
        <td>{{ingredient.id}}</td>
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.energy}}</td>
        <td>{{ingredient.fats}}</td>
        <td>{{ingredient.carbohydrates}}</td>
        <td>{{ingredient.fiber}}</td>
        <td>{{ingredient.protein}}</td>
        <td>{{ingredient.sugar}}</td>
        <td>
          <p-button icon="pi pi-pencil" styleClass="edit-btn" (click)="editIngredient(ingredient)">
          </p-button>
          <p-button (click)="showIngredientDeletePopup(ingredient.id)" icon="pi pi-times"
            styleClass="delete-btn"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-add-edit-ingredient-popup *ngIf="displayPopup" [displayAddEditIngredientPopup]="displayPopup"
  [ingredient]="selectedIngredient" (ingredientAdded)="onSubmitNewIngredient($event)"
  (ingredientEdited)="onEditIngredientSaveButtonClick($event)"
  (closeAddEditIngredientPopup)="closePopup($event)"></app-add-edit-ingredient-popup>

<app-delete-confirmation-popup *ngIf="displayDeletePopup" [deleteModalPopup]="true"
  (deletePopupClosed)="onDeleteIngredientPopupClosed($event)"></app-delete-confirmation-popup>
