<p-button (click)="showModalDialog()" icon="pi pi-times" styleClass="delete-btn"></p-button>
<p-dialog header="" [(visible)]="displayModalPopup" [modal]="true" [style]="{width: '50vw'}"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [closable]="true">
  <p class="m-0">Are you sure you want to permanently delete this?</p>
  <ng-template pTemplate="footer">
    <p-button label="Yes" class="p-button-text"></p-button>
    <p-button (click)="displayModalPopup=false" label="No"></p-button>
  </ng-template>
</p-dialog>
