:host::ng-deep.p-dialog .p-dialog-content {
  text-align: center;
  display: block;
}

:host::ng-deep.p-dialog .p-dialog-footer button:focus,
:host::ng-deep.p-dialog .p-dialog-footer button:enabled {
  box-shadow: none;
  border-color: var(--light-sea-teal);
}

:host::ng-deep.p-dialog .p-dialog-footer button:hover {
  border-color: var(--mango-orange);
}

:host::ng-deep.p-dialog {
  width: 40vw;
}

@media (min-width: 320px) and (max-width: 480px) {
  :host::ng-deep.p-dialog {
    height: 27vh;
    width: 79vw;
    text-align: center;
  }
}
