:host::ng-deep.p-4 {
  display: grid;
  text-align: center;
  justify-items: center;
  padding: 100px 10px 25px 10px;
  row-gap: 5px;
  width: 100%;
}

:host::ng-deep.password {
  padding-bottom: 50px;
}

:host::ng-deep.p-inputtext {
  background-color: white;
  color: #373a3d;
  width: 250px;
  border: 1px solid #1faea8;
}

:host::ng-deep.p-inputtext :hover {
  border: 2px solid #1faea8;
}

:host::ng-deep.p-inputtext:focus {
  border: 2px solid #1faea8;
}

:host::ng-deep.form {
  padding-top: 10rem;
}

:host::ng-deep.p-button:disabled {
  background-color: #ff8947;
}

:host::ng-deep.p-button {
  background-color: #ff8947;
}

:host::ng-deep.p-button:hover {
  background-color: #1faea8;
}
